<?xml version="1.0" encoding="utf-8" ?> 
<RunSettings>
	<TestRunParameters>
		<Parameter name="StandartUserName" value="starostin.g@gmail.com"/>
		<Parameter name="StandartUserPassword" value="z7VKguUY"/>		
		<Parameter name="ProjectTitle" value="Demo Project"/>		
		<Parameter name="ProjectCode" value="DP"/>		
		<Parameter name="ProjectDescription" value="DEMO Description"/>		
	</TestRunParameters>
</RunSettings>
	
